@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
body {
  text-align: center;
}
#controls {
  margin: 0 auto;
  width: 600px;
}
#controls button {
  font-size: 24px;
}
div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}
span {
  display: inline-block;
  font-size: 20px;
  color: black;
}
button{
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
input[type="number"]{
  max-width: 340px;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}
#start,#resume,#restart {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

#pause {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

#stop {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

#reset {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
#cd_status {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 15px;
}
