.fontsize {
    font-size: 40px;
    font-weight: 700;
    color: darkslateblue;
}
.red {
    color: darkred;
}
h1 {
    color: sienna;
}

h2 {
    color: slateblue;
}

.box {
    height: 200px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    border: 2px solid midnightblue;
    background-color: darkcyan;
}

.ancestors * {
    display: block;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 5px;
    margin: 15px;
}

.descendants *,
.descendantsfind * {
    display: block;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 5px;
    margin: 15px;
}
.changeColor{
    font-size: 20px;
    color: brown    ;
}