@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
.box {
  background-color: skyblue;
  color: #000;
}
.btn,
.para {
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}
.para {
  padding: 30px;
  margin: 0;
}
